.vs
_bin
_app
_lib
x64
resources
/build/Debug
/build/Release
/build
/Debug
*.gif
/Release/Asteroids Reimagined.pdb
/Release/Knightmare Engine.lib
/Release/Knightmare Engine.pdb
*.TMP
/Asteroids Reimagined/.vscode
/Asteroids Reimagined/~AutoRecover.Asteroids Reimagined.vcxproj
/Asteroids Reimagined/~AutoRecover.Asteroids Reimagined.vcxproj0
/Asteroids Reimagined/~AutoRecover.Asteroids Reimagined.vcxproj1
/Release/raylib.lib
/Knightmare/.vscode
